.App {
  text-align: center;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
}

.Nav {
  background-color: chartreuse;
  font-size: small;
}

.Review-details {
  padding: 10px;
}
