.App {
  text-align: center;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
}

.Nav {
  background-color: chartreuse;
  font-size: small;
}

.Review-details {
  padding: 10px;
  list-style: none;
  border-style: solid;
  border-width: 3px;
  border-color: orangered;
  border-radius: 10px;
}

.Reviews {
  text-align: left;
}

.img {
  max-width: 200px;
  max-height: 200px;
}

.SingleComment {
  padding: 10px;
  border-style: solid;
  border-color: darkmagenta;
  border-width: 2px;
  border-radius: 10px;
}

.Comments {
  background-color: cornsilk;
  font-size: small;
  padding: 10px;
  border-radius: 10px;
}

.VoteButton {
}

.Disabled {
  pointer-events: none;
}
